<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yevhenii.analyticstestapp">

    <application
        android:name="com.example.yevhenii.analyticstestapp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.yevhenii.analyticstestapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0efc19f3f59569a954b2d09a49f97e474fd4d4fc" />
       <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0efc19f3f59569a954b2d09a49f97e474fd4d4fc" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>